.breadcrumb-style {
    color: #3e928495;  /* Dark gray for better readability and subtlety */
    font-weight: 500;  /* Slightly less bold to integrate better with other texts */
    margin-bottom: 10px;
    font-size: 16px;  /* Ensure the font size is appropriate for your layout */
    background-color: transparent;  /* Removes any background styling */
    border-radius: 0;  /* Removes border rounding for a sharper look */
    padding: 0;  /* Reduces padding for a more compact design */
}

.cluster-description {
    color: #4b5f59;  /* Lighter gray to make less prominent but still legible */
    margin-bottom: 10px;
    font-size: 14px;  /* Smaller font size for descriptions */
    line-height: 1.5;  /* Improved line spacing for readability */
}
